# sigv4 is not on the opam repository yet.
pin-depends: [
  ["sigv4.dev" "git+https://github.com/lmdexpr/sigv4.ml.git#18b21b67a2befebb5364718240d051f15fb7efda"]
  ["sigv4-cohttp-eio.dev" "git+https://github.com/lmdexpr/sigv4.ml.git#18b21b67a2befebb5364718240d051f15fb7efda"]
]
